 div{

            }
            #header{

              font-size: 7vw;
              color: blue;
            }
            #sidebar{

              font-size: 5vw;
              color: grey;

            }
            #main{
               text-align: center;
               font-size: 5vw;
               color: blue;

            }
            #futher{

            }
            }